# Android Studio
*.iml
.gradle/
.idea/
local.properties
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/

# Android Studio Navigation Editor temp files
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# JetBrains IDE files
.idea/modules.xml
.idea/workspace.xml
.idea/caches/
.idea/libraries/

# macOS
*.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Others (ajuste conforme usar essas libs/tools)
*.keystore
*.jks
secrets.properties
